/* CSS for the nav bar, consisting of the title, write tweet sentence, bolding of write as well as the downward arrow */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  background-image: url("black-felt.png");
  background-color: #ff0000ac;
}

.title {
  color: #FFFFFF;
  font-family: Bungee, sans-serif;
  margin-left: 1.5em;
  margin-top: 2em;
}

.aligntweettop {
  margin-top: 2em;
  text-align: center;
  margin-right: 0.5em;
}

.bold {
  color: #000000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.newtweet {
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
}

.navarrow {
  color: #000000;
  text-align: center;
}

/* CSS for breakpoint when switching between desktop/mobile views, slight changes in color for unique feel */
@media only screen and (min-width:1024px) {
  nav {
    background-color: #234dc3;
  }

  .navarrow {
    color: #ff0000;
  }

  .bold {
    color: #ff0000;
  }
}