.new-tweet {
  display: flex;
  flex-direction: column;
  background-color: #f4f1ec;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  width: 100%;
}

.new-tweet .error-message {
  background-color: #ffffff;
  color: #f00000;
  font-size: 25px;
  font-weight: bold;
  border-style: solid solid solid solid;
  margin-top: 1em;
  display: none;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.new-tweet form {
  width: 100%;
}

.tweetarea {
  resize: none;
  background-color: #f4f1ec;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: space-between;
  font-size: 20px;
  border-style: hidden hidden solid hidden;
  width: 100%;
  margin-bottom: 10px;
  border-width: 3px;
}

.tweetarea:focus {
  outline: none;
}

.counter {
  color: #000000;
  font-family: Bungee, sans-serif;
  float: right;
}

.button {
  margin-bottom: 30px;
}

.button-style {
  background-color: #4c49d8;
  color: #ffffff;
  font-family: Bungee, sans-serif;
}

.red {
  color: #ff0000;
}